.App h1 {
  margin: 0;
  padding: 2rem;
  font-size: 1.3rem;
}

.App > output {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
}

.App .content {
  margin: 1rem;
  box-shadow: var(--pill-shadow);
  border: 1px solid var(--gray);
  border-radius: 0.25em;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.content::before,
.content > * {
  margin: 1rem;
}

.content::before {
  content: attr(data-label);
  font-weight: bold;
  background: var(--label-background, var(--black));
  color: var(--label-color, var(--white));
  border-radius: 0.25em;
  padding: 0.5em;
  white-space: nowrap;
}

.App button {
  --button-shadow-size: 5px;
  --button-shadow:  var(--button-shadow-size) var(--button-shadow-size) var(--black);
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font);
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  box-shadow: var(--button-shadow);
  background: var(--button-background, var(--blue));
  color: var(--button-color, var(--white));
  transition: 0.3s;
}

.App button:hover {
  --button-shadow-size: 3px;
}

.App button:disabled,
.App button:active {
  --button-shadow-size: 0px;
}

.App button:disabled {
  --button-background: var(--gray);
}

[data-label="200"] {
  --label-background: var(--green);
}

[data-label="400"] {
  --label-background: var(--red);
}
